* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	display: flex;
	align-items: center;
	color: white;
	font-weight: 600;
	padding: 0 1rem;

	a {
		text-decoration: none;
	}

	.top-link {
		font-size: 1.5rem;
	}

	.central-link a {
		margin: 0 0.25rem;
		color: rgba(255, 255, 255, 0.5);
	}

	#a-white {
		color: white;
		border-bottom: 2px  white;
	}

	.bi-circle-fill {
		position: fixed;
		font-size: 8px;
		color: rgba(255, 0, 0 ,0.4);
		top: 10px;
		right: 44%;

	}

}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.footer-top {
		margin: 0 25% 3% 3%;
	}

	h5 {
		margin-bottom: 0.5rem;
	}

	p>a {
		text-decoration: none;
		color: #fff;
	}

	.footer-black {
		display: flex;
		justify-content: space-around;
		background-color: black;
		padding: 1rem;
	}

	.box {
		/* border: 1px solid red; */
		text-align: center;
		min-width: 90px;
		color: rgba(255, 255, 255, 0.5);

		i {
			font-size: 24px;
		}

		.internal-box-bottom {
			font-size: 10px;
			font-weight: 200;
		}
	}
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content:flex-start;

		.box{
			text-align: center;
			i {
				font-size: x-large;
			}
		}

		.internal-box-top img {
			max-width: 50px;
			margin-bottom: 1.5rem;
			border: 2px solid white;
			border-radius: 50%;
		}

		.bi-plus-square-fill {
			color: red;
			background-color: white;

		}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	height: 380px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */