* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0px;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	display: flex;
	align-items: center;
	color: white;
	font-weight: 600;
	padding: 1rem 1rem;

	a {
		text-decoration: none;
	}

	i {
		font-size: 1.5rem;
	}

	.central-link a {
		margin: 0 0.25rem;
		color: rgba(255, 255, 255, 0.5);
		position: relative;

		&.a-white {
					color: white;
		/* border-bottom: 2px solid white; */

		.rectangle {
			position: absolute;
			background-color: white;
			width: 20px;
			height: 2.5px;
			margin-top: 4px;
			right: 10px;

		}

		}

	
	}

	.bi-circle-fill {
		font-size: 8px;
		color: rgba(255, 0, 0 ,0.3);
		top: -15%;
		left: 95%;
		position: absolute;

	}

}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	.footer-top {
		margin: 0 25% 3% 3%;
	}

	h5 {
		margin-bottom: 0.5rem;
	}

	p>a {
		text-decoration: none;
		color: #fff;
	}

	.footer-black {
		display: flex;
		justify-content: space-around;
		background-color: black;
		padding: 1rem;
	}

	.box {
		/* border: 1px solid red; */
		text-align: center;
		min-width: 90px;
		color: rgba(255, 255, 255, 0.5);

		i {
			font-size: 24px;
		}

		.internal-box-bottom {
			font-size: 10px;
			font-weight: 200;
		}
	}
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	justify-content:flex-start;

		.box{
			
			text-align: center;
			margin: 0 0 2rem 0;
			i {
				font-size: x-large;
			}
		}

		.box >img {
			max-width: 50px;
			/* margin-bottom: 1.5rem; */
			border: 2px solid white;
			border-radius: 50%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			
		}

		.circle-plus {
			position: absolute;
			width: 20px;
			height: 20px;
			color: white;
			background-color: red;
			border-radius: 50%;
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;
			align-items: center;

			i {
				font-size: large;
			}

		}
		 .internal-box-bottom {
			font-size: small;
		 }
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/* .debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	height: 400px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */